@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

.body {
    background-color:slategray;

}

.container {
    
    
    font-family: 'Dongle', sans-serif;
    border: 2px outset whitesmoke;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color:silver;
    opacity: 0.8;
    padding-left:100px;
    padding-right:100px;
    
}


@media (max-width:401px) {
    .container{
        width:100%;
        padding:1% 5%;
        
    }

    bt1 {
    font-size: 1.4rem;
    margin: 10px 32px;
}

.btn{
display: inline;
}

}
.top-para {
    color: lightslategray;
    position: relative;
    bottom: 10px;
    line-height: 0.6;
    font-size: 2rem;

}

.form-control {

    color: black;
    font-size: 1.6rem;
}

.form-group {
    line-height: 0.8;
}

.emoji {
    position: relative;
    right: 15px;
    top: 2px;
}

.control-label {
    color: lightslategrey;
    font-size: 2.5rem;
}

#phone {
    padding: 4px 95px;
    font-size: 1.4rem;
    position: relative;


}

.btn {
    padding: 5px 45px;
    font-size: 1.2rem;
    line-height: 0.8;
    position: relative;
    bottom: 6px;
}
@media (min-width:600px) {
    
.bt1,
.bt2 {
    font-size: 1.4rem;
    padding: 10px 32px;
}

.bt2 {
    position: relative;
    left: 8px;
}
}

#signup {
    padding: 13px 100px;
    background-color: royalblue;
    margin-top: 10px;
    border-radius: 3px;
    margin-bottom: 20px
}

h3 {
    font-weight: 650;
    font-size:200%;
}
.container:hover{
    background-color: white;
}